

<div class="backg vh-100 d-flex justify-content-center align-items-center ">

    <mat-card  class="d-flex justify-content-center align-items-center">
        
        <mat-card-title  class="d-flex justify-content-center">
            <h4 class="card-title">Edit Info</h4>
        </mat-card-title>
        
        <mat-card-content>
            <form [formGroup]="updateForm" (ngSubmit)="submit()">
                <div class="inputField">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput type="text" placeholder="Name" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="inputField">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput type="text" placeholder="Username" formControlName="username">
                    </mat-form-field>
                </div>

                <div *ngIf="updateForm?.value?.username?.touched && updateForm?.value?.username?.invalid">
                    <small *ngIf="updateForm?.value?.username?.errors?.['required']" class="text-danger">
                        username is mandatory
                    </small>
                    <br>
                    <small *ngIf="updateForm?.value?.username?.errors?.['minlength']" class="text-danger">
                        username should contain atleast 6 letters
                    </small>
                </div>

                <div class="inputField">
                    <mat-form-field>
                        <input matInput type="password" placeholder="password" formControlName="password">
                    </mat-form-field>
                </div>

                <div class="inputField">
                    <mat-form-field>
                        <mat-label>Department</mat-label>
                        <mat-select formControlName="department">
                            <mat-option *ngFor="let department of departments" [value]="department">
                                {{ department }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="button">
                    <div>
                        <button class="login-button" [disabled]="updateForm.invalid" mat-button
                            type="submit">Update Info</button>
                    </div>
                    
                </div>
                
            </form>
            
        </mat-card-content>

    </mat-card>
</div>


