p {
    margin: 0;
    font-size: 1.59rem;
    font-weight: 550;
}

.tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    padding: 5px;
}