<div class="container">

    <div class="tile">

        <div class="">
            <p>{{currentUser.id}}</p>
        </div>
        <div class="">
            <p>{{currentUser.name}}</p>
        </div>
        <div class="">
            <p>{{currentUser.username}}</p>
        </div>
        <div class="">
            <p>{{currentUser.department}}</p>
        </div>
        <section style="display: flex; align-items: center;">

            <div class="">
                <button (click)="updateEmp(currentUser)"><i class="fa-solid fa-user-pen"></i></button>
            </div>
            <div class="">
                <button (click)="removeEmp(currentUser)"><i class="fa-solid fa-trash-can"></i></button>
            </div>

        </section>

    </div>
</div>