.backg {
    background-image: url("https://images.unsplash.com/photo-1712916666137-0ca605eeb88c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    padding: 50px;
    background-color: rgba(219, 219, 219, 0.758);
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 3.6px solid orange;
}

.card-title {
    font-size: 2.5rem;
    font-weight: 400;
}

.inputField {
    position: relative;
    top: 30px;
}

.button {
    display: flex;
}

.login-button {
    background-color: rgba(0, 30, 255, 0.47);
    font-size: 1.5rem;
    padding: 15px;
    position: relative;
    top: 45px;
}

.signup-button {
    color: rgb(0, 47, 255);
    text-decoration: underline;
}

.signup-button:hover {
    background-color: rgba(0, 47, 255, 0.34);
}

.signupdiv {
    position: relative;
    top: 70px;
}

//   form {
//     border: 1px solid black;
//     padding: 50px;
//   }
