<div class="d-flex ">
    
</div>

<div style="height: 100%; display: flex; flex-flow: column; justify-content:flex-start; align-items: center;">
    <div
    style="display: flex; margin: 60px;">

        <form action="">
            <input class="searchbar" type="text" placeholder="filter..." [formControl]="filterControl">
        </form>
        <div class="">
            <button (click)="addEmp()"><i class="fa-solid fa-user-plus"></i></button>
        </div>
    </div>
    <app-emp-tile *ngFor="let user of empService.users" [currentUser]="user"></app-emp-tile>
</div>